{% extends 'base.html' %}

{% block content %}
<section class="p-3 mb-3 border border-info">
  <h4 class="mb-4 text-decoration-underline">9章 pandasで実際にExcelファイルに書き出そう</h4>
  {% if msg %}
  <div class="p-2 text-center mb-4 border border-success">
    <strong>{{ msg }}</strong>
  </div>
  {% endif %}
  <a href='{% url "practice" %}' class='btn btn-primary'>スケジュール管理表作成</a>
</section>

{% if pre %}
<section class="p-3 mb-3 border border-info">
  <h4 class="mb-4 text-decoration-underline">preタグ処理</h4>
  <pre style="font-size: 18px;">
{{ pre|safe }}
  </pre>
</section>
{% endif %}

<div class="text-end">
  <a href='{% url "chap09" %}' class="btn btn-info">リセット</a>
</div>
{% endblock content %}